<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdHwzkVM7KfnvcPFA07FlhKVLfyAV4mwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>197262601504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleMapsInFlutter</string>
	<key>PROJECT_ID</key>
	<string>restaurant-85689</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurant-85689.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197262601504:ios:228d7659241c05088abb45</string>
</dict>
</plist>